<div><%= link_to('編集', edit_site_article_url(@site.id, @article.id)) %></div>
<div>
  <%= link_to('プレビュー', :controller => :preview, :action => :article, :id => @article.id) %>
  （<%= link_to('Debug版', :controller => :preview, :action => :article, :id => @article.id, :dev => 'debug') %>,
	<%= link_to('Release版', :controller => :preview, :action => :article, :id => @article.id, :dev => 'release') %>）
</div>
<%- if @article.published -%>
<div><a href="<%= h(@article.url) %>">記事</a></div>
<%- end -%>

<dl>
  <dt>Page name</dt>
  <dd><%= h(@article.page_name) %></dd>

  <dt>Short URL</dt>
  <dd><%= h(@article.short_url) %></dd>

  <dt>Parser</dt>
  <dd><%= h(@article.parser.constantize::Label) %></dd>

  <dt>Title</dt>
  <dd><%= h(@article.title) %></dd>

  <dt>Meta</dt>
  <dd><%= h(@article.meta) %></dd>

  <dt>Image</dt>
  <dd><%= h(@article.image) %></dd>

  <dt>Body1</dt>
  <dd><%= h(@article.body1).gsub(/\r\n|\n|\r/u, '<br />') %></dd>

  <dt>Body2</dt>
  <dd><%= h(@article.body2).gsub(/\r\n|\n|\r/u, '<br />') %></dd>

  <dt>Publish date</dt>
  <dd><%= @article.publish_date %></dd>

  <dt>Status</dt>
  <dd><%= @article.published ? 'published' : 'draft' %></dd>
</dl>

<% form_tag(publish_site_article_url(@site.id, @article.id), :method => :put) do -%>
  <%= submit_tag '公開' %>
<% end -%>
