<% content_for :title, @article.full_title -%>

<% content_for :head do -%>
<link rel="stylesheet" href="<%= h(@site.full_url('/template/articles.css')) %>" type="text/css">
<link rel="canonical" href="<%= h(@article.url) %>">

<%- "Google Visualization API" -%>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1");
  google.setOnLoadCallback(function() {
    template.renderComments('<%= @article.page_name %>');
    template.renderTrackbacks('<%= @article.page_name %>');
  });
</script>

<%- "+1 button" -%>
<script type="text/javascript">
  (function() {
    window.___gcfg = { lang: 'ja' };
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<% end -%>

<div class="article" itemscope itemtype="http://schema.org/Article">

<div class="article_head"><h1 class="title" itemprop="name"><%= h(@article.title) %></h1></div>
<div class="tpl_share_buttons">
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= h(@article.url) %>" data-text="<%= h(@article.full_title) %>" data-count="horizontal" data-lang="ja">Tweet</a>
  <div style="display:inline;" data-href="<%= h(@article.url) %>" class="g-plusone" data-size="medium" data-annotation="bubble"></div>
  <a href="javascript:void(0);" onclick="window.open('http://mixi.jp/share.pl?u=<%= h(u(@article.url)) %>&k=47c2f3d702ad729634af4accde45810f7649ad44','share',['width=632','height=456','location=yes','resizable=yes','toolbar=no','menubar=no','scrollbars=no','status=no'].join(','));"><img src="http://img.mixi.jp/img/basic/mixicheck_entry/bt_check_1.png" style="vertical-align:top; padding-right:16px;"></a>
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%= h(u(@article.url)) %>&amp;layout=button_count&amp;show_faces=false&amp;width=110&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:110px; height:20px"></iframe>
</div>

<div class="article_body" itemprop="description"><%= @article.formatted_body1 %></div>
<div style="clear:both; height:0px;"></div>
<% unless @article.formatted_body2.empty? -%>
<div class="article_body"><%= @article.formatted_body2 %></div>
<% end -%>

</div>

<% unless @article.meta.strip.split(',').empty? -%>
<fieldset id="tpl_relatedframe">
<legend>関連記事</legend>
<div id="tpl_related">
</div>
</fieldset>
<% end -%>

<div class="article_footer">

<%= @article.publish_date.to_time.strftime('%Y年%m月%d日 %H:%M') %>
| <a href="#comments">Comments(<span id="tpl_num_comments"></span>)</a>
| <a href="#trackback">TrackBack(<span id="tpl_num_trackbacks"></span>)</a>
|

<%- "livedoor clip" -%>
<a href="http://clip.livedoor.com/redirect?link=<%= h(u(@article.url)) %>&title=<%= h(u(@article.full_title)) %>&ie=utf8"
   title="livedoor clip! でブックマーク" class="tpl_sprite tpl_ldclip"></a>

<%- "はてなブックマーク" -%>
<a href="http://b.hatena.ne.jp/entry/<%= h(@article.url) %>"
   title="はてなブックマークでブックマーク" class="tpl_sprite tpl_hatebu"></a>

<%- "Delicious" -%>
<a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent('<%= @article.url %>')+'&title='+encodeURIComponent('<%= @article.full_title %>'), 'delicious','toolbar=no,width=550,height=550'); return false;"
   title="delicious でブックマーク" class="tpl_sprite tpl_delicious"></a>

</div>

<div id="tpl_trackbacks"></div>

<div class="comment">
<a name="comments"></a>
<div id="tpl_comments"></div>
<h1>この記事にコメントする</h1>
<div id="comment_form">
<form action="https://blog-backend.appspot.com/comments/<%= h(@article.page_name) %>" method="POST" name="comment_form">
<input type="hidden" name="title" value="<%= h(@article.title) %>" />
<input type="hidden" name="code" value="寿限無寿限無五劫の擦り切れ" />
<div class="with_label"><label for="author">名前</label><input id="author" name="name" /></div>
<div class="with_label"><label for="url">URL</label><input id="url" name="url" /></div>
<div class="no_label">
  <div><textarea name="comment" rows="10" cols="50"></textarea></div>
  <div class="submit"><input type="submit" name="submit" value=" 投稿する " class="button"></div>
</div>
</form>
</div>
</div>

<% content_for :bottom do -%>

<script type="text/javascript">
function tplRegistCategory(json)
{
  var f = template.generateRelatedLinks(json, '<%= @site.url %>');
  document.getElementById('tpl_related').appendChild(f);
}
</script>
<% @article.meta.strip.split(',').each do |tag| -%>
<script type="text/javascript" charset="UTF-8" src="<%= h(@site.full_url('/categories/jsonp/', u(tag.strip) + '.js')) %>"></script>
<% end -%>

<%- "Tweet button" -%>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<%- "Google Code Prettify" -%>
<% if @article.prettify? -%>
  <style type="text/css">@import url("http://webos-goodies.jp/template/scripts/prettify.css");</style>
  <script type="text/javascript" src="http://webos-goodies.jp/template/scripts/prettify.js"></script>
  <script type="text/javascript">template.addWindowEvent('load', function() { prettyPrint(); });</script>
<% end -%>

<% end -%>
