<p>
  <%= label :site, :title %><br />
  <%= text_field :site, :title %>
</p>

<p>
  <%= label :site, :title_format %><br />
  <%= text_field :site, :title_format %>
</p>

<p>
  <%= label :site, :url %><br />
  <%= text_field :site, :url %>
</p>

<p>
  <%= label :site, :article_path %><br />
  <%= text_field :site, :article_path %>
</p>

<p>
  <%= label :preference, :description %><br />
  <%= text_field :preference, :description %>
</p>

<p>
  <%= label :preference, :author %><br />
  <%= text_field :preference, :author %>
</p>

<p>
  <%= label :preference, :atom_path %><br />
  <%= text_field :preference, :atom_path %>
</p>

<p>
  <%= label :preference, :rss_path %><br />
  <%= text_field :preference, :rss_path %>
</p>

<p>
  <%= label :preference, :ping_servers %><br />
  <%= text_area :preference, :ping_servers %>
</p>

<p>
  <%= label :preference, :ftp_host %><br />
  <%= text_field :preference, :ftp_host %>
</p>

<p>
  <%= label :preference, :ftp_path %><br />
  <%= text_field :preference, :ftp_path %>
</p>

<p>
  <%= label :preference, :ftp_user %><br />
  <%= text_field :preference, :ftp_user %>
</p>

<p>
  <%= label :preference, :ftp_password %><br />
  <%= password_field :preference, :ftp_password %>
</p>

<p>
  <%= label :preference, :google_account %><br />
  <%= text_field :preference, :google_account %>
</p>

<p>
  <%= label :preference, :google_password %><br />
  <%= password_field :preference, :google_password %>
</p>

<p>
  <%= label :preference, :article_list_key %><br />
  <%= text_field :preference, :article_list_key %>
</p>

<p>
  <%= label :preference, :bitly_user %><br />
  <%= text_field :preference, :bitly_user %>
</p>

<p>
  <%= label :preference, :bitly_apikey %><br />
  <%= text_field :preference, :bitly_apikey %>
</p>

<p>
  <%= label :preference, :aws_id %><br />
  <%= text_field :preference, :aws_id %>
</p>

<p>
  <%= label :preference, :aws_secret %><br />
  <%= text_field :preference, :aws_secret %>
</p>
